<div class="login">
    <div class="login-triangle"></div>
    <h2 class="login-header">REGISTER</h2>
    <form class="login-container">
      <p>
          FIRSTNAME
        <input type="name" >
    </p>
    <p>
        LASTNAME
      <input type="name"> </p>
  <p>
    EMAIL
  <input type="email" placeholder="Email">
</p>
<p>
    USERNAME
  <input type="email">
</p>
      <p>PASSWORD
          <input type="password" placeholder="Password">
        </p>
        <p> CONFRIM PASSWORD
          <input type="password" placeholder="Password">
        </p>
      <p><input type="submit" value="REGISTER"></p>
    </form>
  </div>