<section style="margin-top: -12px;height: 1000px;">
    <h1>USER CAN CHANGE THERE DETAILS</h1>
<button type="button" class="btn btn-default" id="button3"> STUDENT USERS</button>
<button type="button" class="btn btn-default"  id="button1">EDIT</button>
<button type="button" class="btn btn-default" id="button2">DELETE</button>
<table class="tab">
    <tr><th>
        FIRST NAME
    </th>
    <th>
        INITIAL
    </th>
    <th>
        EMAIL
    </th>
    <th>
        BOARD
    </th>
    <th>
        DEPARTMENT
    </th>
    <th>
        FATHER NAME
    </th>
    <th>
        MOTHER NAME
    </th>
    <th>
        ID
    </th>
</tr>
    <tr>
    <td>Brindha</td>
    <td>H</td>
    <td>brindha@gmail.com</td>
    <td>State</td>
    <td>it</td>
    <td>Aravindh</td>
    <td>rani</td>
    <td>001</td>
</tr>

<tr>
    <td>meena</td>
    <td>s</td>
    <td>meena12@gmail.com</td>
    <td>State</td>
    <td>it</td>
    <td>Ajaya</td>
    <td>prameshwari</td>
    <td>001</td>
</tr>
<tr>
    <td>Dharani</td>
    <td>k</td>
    <td>dharani12@gmail.com</td>
    <td>State</td>
    <td>it</td>
    <td>Aswath</td>
    <td>swathi</td>
    <td>001</td>
</tr>
<tr>
    <td>santhosh</td>
    <td>r</td>
    <td>dharani12@gmail.com</td>
    <td>State</td>
    <td>it</td>
    <td>Aravindh</td>
    <td>rani</td>
    <td>001</td>
</tr>
<tr>
    <td>Dharani</td>
    <td>k</td>
    <td>dharani12@gmail.com</td>
    <td>State</td>
    <td>it</td>
    <td>jeeva</td>
    <td>rani</td>
    <td>001</td>
</tr>
<tr>
    <td>sujan</td>
    <td>i</td>
    <td>dharani12@gmail.com</td>
    <td>State</td>
    <td>it</td>
    <td>vishnu</td>
    <td>sandy</td>
    <td>001</td>
</tr>
<tr>
    <td>dharshini</td>
    <td>w</td>
    <td>dharani12@gmail.com</td>
    <td>State</td>
    <td>it</td>
    <td>Aravindh</td>
    <td>roshini</td>
    <td>001</td>
</tr>
<tr>
    <td>sweetha</td>
    <td>t</td>
    <td>dharani12@gmail.com</td>
    <td>State</td>
    <td>it</td>
    <td>hrahvardhan</td>
    <td>vini</td>
    <td>001</td>
</tr>
<tr>
    <td>Deea</td>
    <td>r</td>
    <td>dharani12@gmail.com</td>
    <td>State</td>
    <td>it</td>
    <td>Aravindh</td>
    <td>rani</td>
    <td>001</td>
</tr>
<tr>
    <td>vani</td>
    <td>k</td>
    <td>vanisree@gmail.com</td>
    <td>State</td>
    <td>it</td>
    <td>ajay</td>
    <td>kirshna kumari</td>
    <td>001</td>
</tr>
<tr>
    <td>vini</td>
    <td>s</td>
    <td>vini@gmail.com</td>
    <td>State</td>
    <td>it</td>
    <td>Allu arjun</td>
    <td>rashmika</td>
    <td>001</td>
</tr>
</table>
</section>