<div class="container1" style="margin-top: -12px; height: 1800px;">
<div class="first">
  <br> <br>  

  <h1 class="heading1">GLOBAL INSTITUTE OF TECHNOLOGY</h1>
  <hr >
  <p>Approved by AICTE,New Delhi& affiliated to Anna University,Chennai</p>
   
  <p>Recognized by UGC & Accredited by NAAC withA+ &NBA [BME,CSC,ECE,EEE,MECHNACIAL]</p>
</div>
<br>  

<div class="second">
 <a [routerLink]="'/currentFee'"><button class="b1">Current student fees details</button></a> 
 <a [routerLink]="'/'"><button class="b2">Counsling code 2504</button></a>
 <a [routerLink]="'/apply'"><button class="b3">Apply online</button></a>
</div>

<br> <br> <br> <br> 
  <div class="one">
    <div class="flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img src="https://media.istockphoto.com/photos/glass-bottles-in-production-in-the-tray-of-an-automatic-liquid-a-picture-id1298788278?b=1&k=20&m=1298788278&s=170667a&w=0&h=2IjFx78DAp5lRUIAVzTKXOcP46ZRdmVwgKguHLL7lTc=" width="300px" height="300px" >
          <h2>Bio Medical</h2>
        </div>
        <div class="flip-box-back">
          <button class="know">know more</button>
        </div>
      </div>
    </div>
  </div>
  
  <br> <br> <br> <br> <br> <br> <br> <br>
  <div class="two">
    <div class="flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img src="https://media.istockphoto.com/photos/render-of-the-design-of-a-contemporary-house-picture-id1223521808?b=1&k=20&m=1223521808&s=170667a&w=0&h=R4vtXKQosxLk9O75iXu7hg9K4_7lO2uanVqni39YMq8=" width="300px" height="300px" >
          <h2>Civil Enginnering</h2>
        </div>
        <div class="flip-box-back">
          <button  class="know">know more</button>
        </div>
      </div>
    </div>
  </div>
  
  <br> <br> <br> <br> <br> <br> <br> <br>
  <div class="three">
    <div class="flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img src="https://media.istockphoto.com/photos/vacuum-picture-id1040853142?b=1&k=20&m=1040853142&s=170667a&w=0&h=27nCIE0grzLTSLPwDv5P_CHXlcmZS0CkGrnVm0kAeGw=" width="300px" height="300px" >
          <h2>Mechanical</h2>
        </div>
        <div class="flip-box-back">
          <button  class="know">know more</button>
        </div>
      </div>
    </div>
  </div>
  
  <br> <br> <br> <br> <br> <br> <br> <br>
  <div class="four">
    <div class="flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img src="https://media.istockphoto.com/photos/productivity-powered-by-digital-technology-picture-id1330965067?b=1&k=20&m=1330965067&s=170667a&w=0&h=ys_MV3zYkn2HJCtHC4s_03Sz1MUC2BZv6PcDdk__XSc=" width="300px" height="300px" >
          <h2>Information Technology</h2>
        </div>
        <div class="flip-box-back">
          <button  class="know">know more</button>
        </div>
      </div>
    </div>
  </div>
  
  <br> <br> <br> <br> <br> <br> <br> <br>
  <div class="five">
    <div class="flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img src="https://media.istockphoto.com/photos/technician-disassembling-smartphone-with-screwdriver-picture-id1369375235?b=1&k=20&m=1369375235&s=170667a&w=0&h=KY-NzhAR9dG3M5WKR5psOZvELmuDgUw7PRtn48i4K-s=" width="300px" height="300px" >
          <h2>Electrical Communication Engineering</h2>
        </div>
        <div class="flip-box-back">
          <button  class="know">know more</button>
        </div>
      </div>
    </div>
  </div>
 
  <br> <br> <br> <br> <br> <br> <br> <br>
  <div class="six">
    <div class="flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img src="https://media.istockphoto.com/photos/production-of-central-processing-units-gloved-hand-holds-a-cpu-picture-id1341301362?b=1&k=20&m=1341301362&s=170667a&w=0&h=YBgJaNSfC0SwnHF_wXMMSUU9ZfogdLn9ttzQ1Cbt_qg=" width="300px" height="300px" >
          <h2>Electrical Electronic Engineering</h2>
        </div>
        <div class="flip-box-back">
          <button  class="know">know more</button>
        </div>
      </div>
    </div>
  </div>
 
  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
  <div class="seven">
    <div class="flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img src="https://media.istockphoto.com/photos/cropped-shot-of-two-young-businessmen-working-together-on-a-laptop-in-picture-id1322205587?b=1&k=20&m=1322205587&s=170667a&w=0&h=hMJTn4c5QT5wPjoDjQt9YWQXCkJr5dZX8zoiaAVhiME=" width="300px" height="300px" >
          <h2>Computer Science Engineering</h2>
        </div>
        <div class="flip-box-back" >
          <button  class="know">know more</button>
        </div>
      </div>
    </div>
  </div>
  <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
  <div class="eight">
    <div class="flip-box">
      <div class="flip-box-inner">
        <div class="flip-box-front">
          <img src="http://www.drngpit.ac.in/images/banner/ai_ds/1.jpg" width="300px" height="300px" >
          <h2>Artifical Intelligence</h2>
        </div>
        <div class="flip-box-back" >
          <button  class="know">know more</button>
        </div>
      </div>
    </div>
  </div>
 
</div>
