<section style="margin-top: -12px; height: 1000px;">
    <h1>GLOBAL INSTITUTE OF TECHNOLOGY</h1>
    <h3>Admission Helpline</h3>
    <h2><i class="bi bi-telephone-fill"></i>9325406214 </h2>
    <br><br><br>
    <div class="container">
     <h1>INSTRUCTIONS</h1>
     <p>The online application is for admission to programmes offered in GLOBAL Institute of Technology. <br>
        Application Form Fee is Non-Refundable. <br>
        Email ID submitted at the time of registration will be used for all correspondences until enrolment is completed. Change in Email ID will NOT be permitted under any circumstances. <br>
        GLOBAL Institute of Technology Query Management System: <br>
        Applicants are strongly advised to use the  GLOBAL Institute of Technology Query Management System <br>
        ( GLOBAL Institute of Technology-QMS), rather than an email, to get a quick response. <br>
        Register and verify your email ID <br>
        Click on [Any Queries? Ask US] in your dashboard <br>
        Select the query category and submit your query</p>

      </div>
      <br><br>
      <h1>FILL YOUR DETAILS</h1>
    <form class="form">
        <label for="">ENTER YOUR NAME    </label>
        <input type="text" placeholder="Name">
        <br><br>
        <label for="">ENTER YOUR EMAIL</label>
        <input type="text" placeholder="Email">
        <br><br>
        <label for="">ENTER YOUR PHONE NO</label>
        <input type="text" placeholder="Phone no">
        <br><br>
        <label for="">ENTER YOUR STATE</label>
        <input type="text" placeholder="State">
        <br><br>
        <label for="">ENTER YOUR CITY</label>
        <input type="text" placeholder="City">
        <br><br>
        <label for="">SELECT YOUR COURSE</label>
        <select name="program" >
            <option >BIO MEDICAL</option>
            <option >IT</option>
            <option>CSC</option>
            <option >ECE</option>
            <option>EEE</option>
            <option>MECHANICAL</option>
            <option >CIVIL</option>
            <option >AI</option>
        </select>
        <br><br>
        <button>APPLY NOW</button>

    </form>
      
    
</section>