<div class="container">
  <div class="login">
   
     
      <h2 class="login-header">Log in</h2>
      <form class="login-container">
        <p>
            USERNAME
          <input type="email" placeholder="Email">
        </p>
        <p>PASSWORD<input type="password" placeholder="Password"></p>
        <p><a [routerLink]="'/home'"><input type="submit" value="LOG IN"></a></p>
        <p>NEW USER REGISTER FIRST</p>
        <p><a [routerLink]="'/register'"routerLinkActive="active-link"  >REGISTER </a><i class="bi bi-arrow-right"></i></p>  
      </form>
    </div>
</div>