<footer>
   <ul>
        
      <li class="heading">GLOBAL</li>
       <li class="condition"> <a [routerLink]="['/rules']">RULES and REGULATIONS</a> </li>&nbsp;

        <li class="policy"><a [routerLink]="['/policy']">Policy&Policy</a> </li>&nbsp;

        
      
            <li class="social"> Our social Media Website <br></li>&nbsp; <br>
            <li> <a  id ="face" class="icons" href="#" target="_blank" style="color: whitesmoke;"><i class="bi bi-facebook"></i></a></li>&nbsp; 
            <li> <a class="icons" href="#" target="_blank" style="color: whitesmoke;"><i class="bi bi-whatsapp"></i></a></li>&nbsp; 
           
            <li> <a class="icons"  href="#" target="_blank" style="color: whitesmoke;"><i class="bi bi-twitter"></i></a></li>&nbsp; 
            <li><a class="icons" href="#" target="_blank"  style="color: whitesmoke;"><i class="bi bi-instagram"></i></a> </li>
   </ul>     
</footer>