<section style="margin-top: -12px;">
    <br>
    <h1 style="margin-left:60px;">PLACEMENT DEPARTMENT</h1>
    <br>

    <div class="container4">
        <div class="box">
            <div class="imgbx">
                <img src="https://media.istockphoto.com/photos/train-your-brain-text-on-a-wooden-texture-background-picture-id1365320967?b=1&k=20&m=1365320967&s=170667a&w=0&h=L1Pjl_J2j0hAKg4K61GIJbIeypb21jqW9_A9thZxlQo=">
            </div>
        </div>
    </div>   
    
    <br> <br>
    <div class="container">
        <h1>ABOUT TRAINING AND PLACEMENT DEPARTMENT</h1>
        <p>Training and Placement Cell is an integral part of the institute and the institute has a fully equipped infrastructure. The placement team is functioning all through the year in organizing the training activities towards preparing students for campus Interview. The placement team maintains a very cordial relationship with all the recruiting industries and invites various industries from across the country for campus Interview. The placement team coordinates quite well with the corporate sector and provides well-developed infrastructure to facilitate the campus Interview.

            The Placement season witnessed a marvellous hike with 90 + reputed national and multinational companies participating in the placement process annually. Our students are impressed with the recruiters and concluded with a students placement record of 94%.
            
            The Training and Placement cell was instrumental in signing a number of MOUs and Agreements with various industries and sectors to promote various forms of interactions like:</p>
        <p>Corporate HR Connect <br>
            Guest Lecture series<br>
            Industrial visits<br>
            Mock Interview and Personality Development session<br>
            Internship and In-Plant Training</p>

        <h1>PLACEMENT HIGHLIGHTS AND OPPORTUNITIES</h1>
            
        <p>
                90 + Companies are participating in the campus interview annually<br>
                Average salary through on-campus recruitment is 3.1 Lakhs per annum<br>
                More than 70 % of companies offered a salary package of above 3 Lakhs per annum<br>
                60 % of Companies from IT belongs to reputed national and multinational companies<br>
                40 % of Companies in Core Engineering<br>
                More than 90 % of students are placed year on year<br>
                Current highest salary package is more than 10.0 Lakhs per annum<br>
                Provide opportunities to avail student's project in the industry as an internship with stipend before their graduation
            </p>

    </div>
    <div class="container">
        <h1>TRAINING & PLACEMENT PROCESS</h1>
        <img class="image2" src="http://www.drngpit.ac.in/images/banner/placement/Placement-Training-Strategy.jpg">
         <h1>PHASE 1</h1>
         <p>The first phase activities starts from 1st year onwards.  This mainly focuses on discipline, grooming, career planning and building personality. Through this training, we give awareness regarding the employability skills and job market right from the first year so that students can prepare accordingly.</p>
         <h1>PHASE 2</h1>
         <p>This phase starts from second year onwards. We mainly focus to enhance cognitive and aptitude skills (quantitative aptitude, verbal ability and reasoning skills). The objective of this phase is to improve the student's logical thinking and prepare them to manage the time effectively, which is playing a crucial role in campus interviews.</p>
         <h1>PHASE 3</h1>
         <p>This phase starts from 3rd year onwards the training program focused on the technical competencies in order to improve the student’s technical skills that meet the industry standards which is provided through our regular training mode. The employability empowerment program is an advanced level of technical training by residential mode. This training program is usually conducted after the even semester of the examination and it will be provided by well-experienced trainers.</p>
         <h1>PHASE 4</h1>
         <p>The conclusion of this training program starts with Mock interview, which is usually conducted during the initial days of final year odd semester. This program includes an online aptitude test, technical test, psychometric test, group discussion, face to face technical interview and personal interview. As an extension of this activity, we also provide exercise to overcome their fear and shyness by giving importance to public speaking, teamwork etc.</p>
         
         <h1>PHASE 5</h1>
         <p>This phase starts from a final year onwards in the month of July every year. The college invites the Company to conduct the Campus interview process at the college premises. More than 90 reputed companies visit our college annually with an excellent placement record. After the campus interview, the placement Office would hand over the company offer Letters to the placed students.</p>
         <h1>PHASE 6</h1>
         <p>The placed students also get the opportunity to do their final project in the placed company as an intern with stipend at this phase. After successful completion of the internship, the students can get full-time employment.</p>
    </div>
    <div>
        <h1>PLACEMENT RECORDS  AND OUR RECRUITERS</h1>
        <img class="image3" src="http://www.drngpit.ac.in/images/placement/companies_2021.jpg" width="1248" height="5642">
    </div>
    <br>
    <div class="container" >
        <h1>CONTACT US</h1>
        <h1>CONTACT TRAINING & PLACEMENT CELL</h1>
        <br>
        <h1>Dr.M.KUMAR</h1>
        <h2>Head - Corporate Relations and Placements</h2>
        <h3><i class="bi bi-telephone-fill"></i>9876543210</h3>
        <h3><i class="bi bi-envelope-fill"></i>Kumarplace@hepta.ac.in</h3>
        <br><br>
        <h1>Dr.K.PRADEEP</h1>
        <h2>Placement Officer</h2>
        <h3> <i class="bi bi-telephone-fill"></i>9368718461</h3>
        <h3><i class="bi bi-envelope-fill"></i>pradeepplac@hepta.ac.in</h3>
        <br>
        <h1>COMMON MAIL ID</h1>
        <h3><i class="bi bi-envelope-fill"></i> hepta@placement.ac.in</h3>
        <h3><i class="bi bi-telephone-fill"></i>9626438324</h3>
    </div>
    <br>
</section>