<section style="margin-top: -12px; height: 1500px;">
    <div class="container">
      <h1>ONLINE  FEES PAYMENT</h1>
      <p>Hepta college has facilitated the payment of fees through online for the convenience of parents and students. The online payments can be made through various options.</p>
      <h1>STEPS TO MAKE A ONLINE PAYMENT</h1>
      <p>Enter your Roll No , Date of Birth and click "Pay Now" <br>
        Your credentials will be verified and directed to the "Student and Fee Details" page <br>
        Tick the check box against the Fee head and click - "Pay Now" tab <br>
        Now you will be redirected to the CC Avenue Payment Gateway <br>
        After filling the required details, you can make payment through various digital payment options like Credit Card / Debit Card / Internet Banking / UPI . <br>
        After successful transaction, you can download / print receipts <br>
        </p>>
        <h1>TRANSACTION CHARGES</h1>
        <table>
            <td>Mode of Payment</td>
            <td>Transaction Charges</td>
        </table>
        <table>
            <tr>
                <td>Net Banking - HDFC Bank</td>
                <td>Rs. 13.00</td>
            </tr>
            <tr>
                <td>Net Banking - YES Bank / ICICI Bank/Axis Bank</td>
                <td>Rs. 10.00</td>
            </tr>
            <tr>
                <td>Net Banking - State Bank of India</td>
                <td>Rs. 13.00</td>
            </tr>
            <tr>
                <td>Net Banking – other than the above banks</td>
                <td>Rs. 17.00</td>
            </tr>
            <tr>
                <td>	Credit Card - Visa / Mastercard / Rupay</td>
                <td>	1% + GST</td>
            </tr>
            <tr>
                <td>	Debit Card - RuPay</td>
                <td>	Nil</td>
            </tr>
            <tr>
                <td>Debit Card - (Other than Rupay Card)</td>
                <td>		0.990% + GST</td>
            </tr>
            <tr>
                <td>	Credit Card - Amex</td>
                <td>		2.990% + GST</td>
            </tr>
            <tr>
                <td>	Cash card</td>
                <td>			1.990% + GST</td>
            </tr>
            <tr>
                <td>	Mobile Payment</td>
                <td>			1.990% + GST</td>
            </tr>
            <tr>
                <td>	UPI</td>
                <td>			Nil</td>
            </tr>
           
           
        </table>
        <br>
        <h1>TERMS AND CONIDITIONS</h1>
        <p>If the payment is successful, you will get a payment confirmation email and the student has to keep the same for reference.
            If the transaction has failed for some reasons, you are requested to wait for three working days before trying for payment again. Please contact the accounts department for any discrepancy of online fee faced by you with reference to any of your transaction.
            Please make a note of Reference/Transaction Details in case of Net banking or Card payment.</p>
        <h1>CANCELLATION/REFUND POLICY</h1>
        <p>There is no cancellation option for the students / parents. In case of duplicate payment, the end user can approach the accounts department in the college for clarification or refund with proof of the transaction. Based on submission of proof for of transaction, it shall be verified and refunded.</p>
        <h1>DECLARATION</h1>
        <p>I fully read and understand the above policy in connection with online payment of fees to the college. I shall be abide by the terms and conditions in force or modified from time to time pertaining to the online payment to the institution.</p>
    </div>
</section>