<section style="margin-top: -12px; height: 1500px;">
   <h1 class="heading">ADMISSION OPEN FOR FRESHERS</h1>
  
   <div claSS="trending">
    <div id="trendingslide">
<img class="one"  src="https://media.istockphoto.com/photos/person-in-college-or-graduate-school-high-resolution-image-picture-id1297644870?b=1&k=20&m=1297644870&s=170667a&w=0&h=eUfaSuxvhE7zrXfdO1M8o_xvounHJJp8d4QbWhlcqbc=">
<img class="two" src="https://media.istockphoto.com/photos/graduation-cap-and-diploma-on-table-with-books-picture-id1154631974?b=1&k=20&m=1154631974&s=170667a&w=0&h=iCtoN1Rr1xknxOe47E8MKi55ipSnCql29qTPEtosKd4=">
<img class="three" src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Z3JhZHVhdGVzJTIwaW1hZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60">
</div>
</div><br><br><br>


   <h2>UNDER GRADUATE PROGRAMMES</h2>
   <div class="second">
    <table>
    <tr class="heading1" >
        <th>Programme</th>
        <th>Sanctioned Intake</th>
        <th>Duration</th>
    </tr>
    <tr>
       <a [routerLink]="'/aids'"><td>B.Tech. Artificial Intelligence and Data Science</td></a> 
        <td>60</td>
        <td>4 years</td>
    </tr>
    <tr>
        <a [routerLink]="'/bio'"><td>B.E. Biomedical Engineering</td></a> 
        <td>120</td>
        <td>4 years</td>
    </tr>
    <tr>
        <a [routerLink]="'/civil'"><td>B.E. Civil Engineering</td></a> 
        <td>30</td>
        <td>4 years</td>
    </tr>
    <tr>
        <a [routerLink]="'/csc'"><td>B.E. Computer Science and Engineering</td></a>
        <td>120</td>
        <td>4 years</td>
    </tr>
    <tr>
        <a [routerLink]="'/eee'"><td>B.E. Electrical and Electronics Engineering</td></a> 
        <td>60</td>
        <td>4 years</td>
    </tr>
    <tr>
        <a [routerLink]="'/ece'"> <td>B.E. Electronics and Communication Engineering</td></a>
        <td>120</td>
        <td>4 years</td>
    </tr>
    <tr>
        <a [routerLink]="'/mech'"><td>B.E. Mechanical Engineering</td></a> 
        <td>120</td>
        <td>4 years</td>
    </tr>
    <tr>
        <a [routerLink]="'/it'"><td>B.TECH Information Technology</td></a>  
        <td>60</td>
        <td>4 years</td>
    </tr>
    </table>

   </div>
   <br> <br> 
   <h2>POST GRADUATE PROGRAMMES</h2>
   <div class="third">
     
       <table>
       <tr>
           <th>Programme</th>
           <th>Duration</th>
           <th>Intake</th>
       </tr>
       <tr>
        <a [routerLink]="'/embedded'"> <td>M.E. Embedded System Technologies</td></a>
           <td>	2 years</td>
           <td>30</td>
       </tr>
       <tr>
        <a [routerLink]="'/design'"><td>M.E. Engineering Design</td></a>
           <td>2 years</td>
           <td>30</td>
       </tr>
      
       <tr>
        <a [routerLink]="'/mcse'"><td>M.E. Computer Science and Engineering</td></a>
           <td>2 years</td>
           <td>30</td>
       </tr>
       <tr>
        <a [routerLink]="'/mba'"> <td>M.B.A. Master of Business Administration</td></a>
           <td>2 years</td>
           <td>30</td>
       </tr>
       </table>
   </div>
  
  
</section>