<section style="margin-top: -12px; height: 1500px;">
    <div class="container">
        <h1>AIRTICIAL INTELLIGENCE AND DATA SCIENCE</h1>
        <br>
        <img src="http://www.drngpit.ac.in/images/banner/ai_ds/1.jpg">
        <br>
        <h1>About Department</h1>
        <h3>
            Artificial Intelligence and Data Science Programme enables students to get ready with the skills to perform intelligent decisions based on data analysis which is an important component in various real-world applications. By this course, the students will gain cross-disciplinary skills across fields such as statistics, computer science, machine learning, and logic, data scientists and may have career opportunities in healthcare, business, eCommerce, social networking companies, climatology, biotechnology, genetics, and other important areas.
        </h3>
        <h1>Course</h1>
        <h3>The department offers a four year under graduate programme in Artificial Intelligence and Data Science leading to the award of a B.Tech degree approved by the All India Council for Technical Education (AICTE), New Delhi and Affiliated to Anna Univeristy, Chennai.</h3>
        <h1>Short Term Goals</h1>
        <h3>Help students in achieving more than 85% in academics.
            To motivate students to participate in Inplant training & Industrial visits every year.
            Train students with advanced technologies & tools in AI & DS.</h3>
            <h1>Long Term Goals</h1>
            <h3>To impart Knowledge, develop attitude and inculcate Skills and values.
                To produce competent computer professionals to serve the needs of the society.
                To build conducive environment for learning and to carry out research in area of Computing.</h3>
    </div>

</section>