<section style="margin-top: -12px; height: 1500px;">
    <div class="container">
    <div>
        <h1>RULES AND REGULATIONS</h1>
        <p>The working day is divided into two sessions. The forenoon session has 3 hours (09.40 a.m to 12.50 p.m) and the afternoon session has three hours (01.30 to 4.30 p.m) <br>
            The college is following day order system. Days are denoted by numbers such as 1,2,3,4,5 & 6 and the time table is followed accordingly. The first day order will be followed on the opening day. The second day order will be the next working day and so on. <br>
            No student should leave the classroom during lecture without permission of the lecturer. <br>
            Late comers will not be admitted to the class without an admission slip from the principal. <br>
            Attendance is noted for each period at the commencement of each class.</p>
    </div>
    <div>
        <h1>DISCIPLINE COMMITTEE</h1>
        <p>The College discipline policy is designed to encourage students to have respect for themselves, others, the environment and the process of teaching and learning. <br>

            To keep the best interests of the students and their parents, college laid following rules for the students in the campus. <br>
            Students should</p>
        <p>Maintain regularity and punctuality in attending classes. <br>
            Cultivate polite and decent behavior.<br>
            Wear college uniform every Monday.<br>
            Not to carry mobile phones, walkman, ipods and other entertainment devices.<br>
            Ragging in all its forms is banned as it is treated as a cognizole offence.<br>
            Take prior permission from HOD's or ward tutors for leave.<br>
            Frequent absentees without satisfactory explanation.<br>
            Work completion by the setting up of deadlines.<br>
            Breaching the college rules at college during college time or on college activities.<br>
            Procedural fairness for all the students is observed by:<br>
            Outlining the alleged behavior Following the student to respond Considering the response Appeals committee</p>    
    </div>
    <div>
        <h1>ATTENDANCE AND LEAVE</h1>
        <p>Only when the Principal certifies for the conduct and attendance of the student are satisfactory, Tamil Nadu Teachers Education University will permit for writing the university examination. Hence, attendance must be of prime importance. Further only when the attendance of 85% is earned by the student he/she will be allowed to write the university examination. The application for leave must be submitted to Principal well in advance.</p>
    </div>
    <div>
        <h1>DRESS CODE FOR STUDENTS</h1>
        <p>Students are expected to attend the College neatly dressed in uniforms keeping in mind with approved etiquette. <br>
            Women shall attend the college wearing sarees only. They shall not come to the college in any other dress.<br>
            Men shall attend the college wearing properly ironed and Tucked -in shirt and pant, belt, shoes with socks. Shirts should be buttoned properly. T-shirts, casual wears, banians, Jeans are not allowed. Proper hair dressing and well shaven face is expected. <br>
            The dress code for Physical and Athletic games-for men it is T-shirts with canvas shoes and for women, it is chudidhar with dupattas with canvas shoes.</p>
    </div>
    </div>
</section>